<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- Required for Android 11+ to query if WhatsApp is installed -->
    <queries>
        <package android:name="com.whatsapp"/>
        <package android:name="com.whatsapp.w4b"/>
    </queries>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:exported="true"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register AlarmReceiver -->
        <receiver
            android:name="com.hazrat.notification.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <!-- Register NotificationActionReceiver -->
        <receiver
            android:name="com.hazrat.notification.NotificationActionReceiver"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="ACTION_OPEN_WHATSAPP" />
                <action android:name="ACTION_DISMISS" />
                <action android:name="ACTION_TAP" />
            </intent-filter>

        </receiver>

        <activity android:name="com.hazrat.notification.WhatsAppProxyActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- Boot Receiver to reschedule alarms after device reboot -->
        <receiver
            android:name="com.hazrat.notification.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>





</manifest>